{% load static %}

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a class="uk-navbar-item uk-logo logo" href="#"><img src="{% static 'images/logo3_1000x1000.png' %}" width="50px" height="50px" alt=""></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li class="scroll-to-section"><a href="#frequently-question">Preguntas frecuentes</a></li>
                        <!-- <li class="submenu">
                            <a href="javascript:;">Drop Down</a>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Features</a></li>
                                <li><a href="">FAQ's</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </li> -->
                        <li class="scroll-to-section"><a href="#contact-us">Contáctenos</a></li>
                        <!-- <li class="scroll-to-section"><a href="{% url 'boardAdmin' %}">admin</a></li> -->
                        <li class="scroll-to-section"><a href="{% url 'login' %}">login</a></li>
                        <!-- <li class="scroll-to-section"><a href="{% url 'profile' %}">profile</a></li> -->
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>


<script src="{% static 'Js/complementos/cabecera.js' %}"></script>
