
{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/uiKit/uikit.min.css' %}" />  <!-- {% static 'css/web/complementos/cabecera.css' %} -->
    <script src="{% static 'Js/uiKit/uikit.min.js' %}"></script>
    <script src="{% static 'Js/uiKit/uikit-icons.min.js' %}"></script>

    <title>{% block title %} home {% endblock %}</title>
    
</head>
<body>

    {% block navbar %}
        {% include "web/complementos/navbar.html" %}
    {% endblock %}

    {% block content %}
        {% include "web/complementos/cabecera.html" %}  
        {% include "web/complementos/cuerpo.html" %}  
    {% endblock %}

    {% block footer %}
        {% include "web/complementos/footer.html" %}
    {% endblock %}

</body>