.button-dev{
    background-color: white;
    color: #00a8cf;
    padding: 20px 50px;
    transition: all .3s ease-out;
    font-weight: bold;
}

.button-dev:hover{
    background-color: #FF6B6B;
    color: white;
    transition: all .3s ease-out;
    transform: scale(2);
}

/*  EFECT WRITER */

.contenedor {
	margin: auto;
	display: table;
}

.contenedor h1 { 
	position: relative; 
	float: left;
	color: rgb(0, 0, 0);
	font-size: 2.5em;
    margin-right: 20px;
}

.contenedor h1 span {
    position:absolute;
    right:0;
    width:0;
    top: -4px;
    height: 30px;
    background: white;
    border-left: 2px solid #000;
    animation: escribir 3s steps(30) alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width: 0% }
}

